.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  color: rgb(163, 163, 163);
}

.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus {
  transform: translateY(-5px);
  color: white
}

.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}

body {
  background-color: black;
  font-weight: 600;
  text-align: center;
  color: white;
}

#len1, #len2, #len3, #len4{
  transition: 0.5s color ease-in-out;
  padding: 3em 4em 1em 4em;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
}

.page-title {
  opacity: 0.75;
}

.card-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.info-card {
  display: flex;
  border: 3px solid whitesmoke;
  padding: 20px 40px 40px;
  margin-top: 50px;
  align-items: center;
  width: 630px;
}

.info-card img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.info-card .profile-pic {
  margin: 20px 30px 0 0;
  height: 200px;
  width: 200px;
  -o-object-fit: contain;
    object-fit: contain;
}

.info-card a {
  color: whitesmoke;
  text-decoration: none;
  margin-bottom: 5px;
}

.details{
  display: flex;
  flex-flow: column;
  text-align: left;
}

.details h3 {
  text-align: center;
}