.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  color: rgb(163, 163, 163);
}

.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus {
  transform: translateY(-5px);
  color: white
}

.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}

body {
  background-color: black;
  font-weight: 600;
  text-align: center;
  color: white;
}

#len1, #len2, #len3, #len4{
  transition: 0.5s color ease-in-out;
  padding: 3em 4em 1em 4em;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
}

.page-title {
  opacity: 0.75;
}

.card-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.info-card {
  display: flex;
  border: 3px solid whitesmoke;
  padding: 25px 40px 25px;
  margin-top: 30px;
  align-items: center;
  width: 630px;
}

.info-card img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.info-card .picture{
  margin: 10px 30px 10px 0;
  height: 200px;
  width: 200px;
  -o-object-fit: contain;
    object-fit: contain;
}

.info-card a {
  color: whitesmoke;
  text-decoration: none;
  margin-bottom: 5px;
}

.details{
  display: flex;
  flex-flow: column;
  text-align: left;
}

.details h3 {
  text-align: center;
}

.search {
  font-size: 20px;
  height: 30px;
  width: 50%;
}

.login, .create {
  display: none;
}

.show {
  display: block;
}

button, .save-btn, .add-comment{
  padding: 0.2em 1.5em;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border-radius: 20rem;
  transition: all 300ms ease-in-out;
}

.home button {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  border-color: whitesmoke;
  box-shadow: 0 0 40px 40px whitesmoke inset, 0 0 0 0 whitesmoke;
}

.home button:hover {
  box-shadow: 0 0 10px 0 whitesmoke inset, 0 0 10px 4px whitesmoke;
  color: white;
}

/* Cards */
.hover:hover {
  background-color: rgb(228, 222, 222);
  color: black;
}

.card-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  perspective: 700px;
}

.card {
  margin-top: 25px;
  transition: 0.5s;
}

.add-btn, .add-comment {
  color: green;
  border-color: green;
  box-shadow: 0 0 40px 40px white inset, 0 0 0 0 green;
}

.add-btn:hover, .add-comment:hover {
  box-shadow: 0 0 10px 0 green inset, 0 0 10px 4px green;
  color: black;
}

.add-comment {
  margin: 10px;
}

.comments button, .remove-btn {
  color: red;
  border-color: red;
  box-shadow: 0 0 40px 40px white inset, 0 0 0 0 red;
}

.comments button:hover, .remove-btn:hover {
  box-shadow: 0 0 10px 0 red inset, 0 0 10px 4px red;
  color: black;
}

.view-btn {
  color: blue;
  border-color: blue;
  box-shadow: 0 0 40px 40px white inset, 0 0 0 0 blue;
}

.view-btn:hover {
  box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
  color: black;
}

.save-btn {
  color: black;
  border-color: white;
  box-shadow: 0 0 40px 40px white inset, 0 0 0 0 white;
}

.save-btn:hover {
  box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
  color: white;
}

.card button {
    margin: 10px 10px 25px 10px;
}

.card-body {
  display: flex;
  padding: 25px 40px 25px;
  align-items: center;
  justify-content: center;
  width: 680px;
}

.card-body img {
  justify-content: flex-start;
  margin-right: 30px;
  width: 120px;
  height: 200px;
}

.card-info {
  display: flex;
  flex-flow: column;
  align-self: center;
  justify-content: center;
}

.additional-info {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
  text-align: left;
}

.comments {
  list-style: none;
}

.comments li {
  display: flex;
  align-items: center;
}

.comments img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.comments b {
  font-size: 20px;
}

.comments p {
  font-size: 15px;
}

textarea {
  height: 100px;
}

.login label, .login input, .create label, .create input, .profile label, .profile input {
  margin: 0 auto;
}

.login input, .create input, .profile input {
  margin-bottom: 30px;
  display: block;
}

label {
  display: block;
}

.login .submit-btn, .create .submit-btn {
  display: none;
}